<div class="grid-container">
  <div class="grid-item">
    <div class="common-card">
      <div class="profile-intro">
        <div class="profile-image-section">
          <img class="profile-banner" src="../assets/images/banner-profile.jpeg" alt="">
          <img src="../assets/images/profile-img.avif" alt="" class="profile-image">
        </div>
        <div class="grid-container">
          <div class="profile-info-section">
            <h4 class="profile-name name text-dark m-x-5">Aloknath Rath</h4>
            <h5 class="name-subheading text-dark">Versatile Full Stack Developer | Expertise in Angular, React, Node.js, Laravel, MongoDB, MySQL | Crafting Innovative Solutions for Impactful Projects</h5>
            <!-- <h5 class="name-subheading text-dark">Msc Biotechnology at Ravenshaw university</h5> -->
            <h5 class="normal-text text-muted m-y-10">Baleswar, Odisha, India <span class="hyper-link-text m-x-5">Contact info</span></h5>

            <div class="profile-btn-section">
              <button class="btn filled-btn m-y-10">
                <mat-icon aria-hidden="false" aria-label="Example home icon" fontIcon="send"></mat-icon>
                <span class="btn-text">Message</span>
              </button>

              <button class="btn outlined-btn m-y-10 m-x-10">
                <span class="btn-text">Hire me</span>
              </button>
            </div>
          </div>

          <div class="most-recent-info">
            <div class="recent-info-container m-y-5">
              <img src="../assets/images/recent-company-logo.jpeg" alt="" class="recent-info-logo m-x-5">
              <span class="hyper-link-text">SAIntellect Sollutions</span>
            </div>
            <div class="recent-info-container m-y-5 m-x-5">
              <img src="../assets/images/recent-college-logo.jpeg" alt="" class="recent-info-logo m-x-5">
              <span class="hyper-link-text">Indira Gandhi Institute of Technology, Sarang</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="common-card p-20 m-yt-10">
      <h4 class="section-heading">About</h4>
      <p class="normal-text text-dark m-y-10 text-justify">With a dynamic journey spanning two years in software development, I've evolved from a focused frontend developer to a versatile full stack web developer. My career has been a progression through various technologies and frameworks including Angular, AngularJS, Ionic, React, Next.js, React Native, Node.js, Express, Laravel, MongoDB, and MySQL.

        In addition to my technical expertise, I've also gained valuable experience working directly with clients. This interaction has honed my communication skills and enabled me to understand and meet their specific needs effectively.
        
        Currently, I thrive in the role of a web developer where I oversee entire projects from conceptualization to execution, handling frontend and backend development as well as database management and project structuring. My dedication lies in crafting robust solutions that seamlessly integrate cutting-edge technologies.
        
        My vision extends beyond mere coding; I aspire to leverage my skills with an entrepreneurial mindset to create impactful solutions that positively influence millions of lives. My journey from grassroots to proficient developer underscores my commitment, analytical prowess, and insatiable curiosity.
        
        Let's collaborate and transform ideas into realities that make a difference.</p>
    </div>
  </div>
  <div class="grid-item">
    <div class="common-card p-20 m-yb-5">
      <h4 class="section-heading">Achievments</h4>
      <div class="rewards">
        <p class="rewards-items m-yb-5">320 State Rank in OJEE</p>
        <hr class="page-separator">

        <p class="rewards-items m-yb-5">1290 score in TCS NQT</p>
      </div>
    </div>

    <div class="common-card p-20 m-yb-5">
      <h4 class="section-heading">Interests</h4>
      <div class="interests">
        <p class="interests-items m-x-5">Science</p>
        <p class="interests-items m-x-5">Arts & Craft</p>
      </div>
    </div>

    <div class="common-card p-20 m-yb-5 external-links">
      <h4 class="section-heading">External Links</h4>
      <div class="recent-info-container m-y-10">
        <img src="../assets/images/github.svg" alt="" class="recent-info-logo m-x-5">
        <a target="_blank" class="hyper-link-text">Git Hub Repositories</a>
      </div>

      <hr class="page-separator">

      <div class="recent-info-container m-y-10">
        <img src="../assets/images/linkedin-logo.png" alt="" class="recent-info-logo m-x-5">
        <a target="_blank" href="www.linkedin.com/in/aloknath-rath" class="hyper-link-text">Linked In Profile</a>
      </div>

      <!-- <hr class="page-separator">

      <div class="recent-info-container m-y-10">
        <img src="../assets/images/recent-company-logo.jpeg" alt="" class="recent-info-logo m-x-5">
        <span class="hyper-link-text">SAIntellect Sollutions</span>
      </div>

      <hr class="page-separator">

      <div class="recent-info-container m-y-10">
        <img src="../assets/images/recent-company-logo.jpeg" alt="" class="recent-info-logo m-x-5">
        <span class="hyper-link-text">SAIntellect Sollutions</span>
      </div> -->
    </div>
  </div>
</div>